NEXT_PUBLIC_SUPABASE_URL=https://gazkojlppfxpzfoabktv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<prefer publishable key instead of anon key for mobile and desktop apps>LLM_ENDPOINT=http://127.0.0.1:11434/v1/chat/completions
LLM_MODEL=gemma2
